# Intermediate Python
---
## Collections

---
### Ordered Dictionary

In [1]:
d = {}
d['One'] = 1
d['Two'] = 2
d['Three'] = 3
d

{'One': 1, 'Two': 2, 'Three': 3}

>We can import the Ordered Dict from collections, and we can see here that an ordered dict's base type is just a dictionary, so considering inheritance, we can surmise that we can utilize all of the dict's methods.

In [2]:
from collections import OrderedDict

OrderedDict.__base__

dict

In [3]:
# We can instantiate an OrderedDict and add values as we would expect for a 
# normal dict. We see that the values are returned as a list of tuples.
od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
od

OrderedDict([('a', 1), ('b', 2), ('c', 3)])

In [4]:
# Normal dictionary methods apply, for instance, we can change the value based on keys, as seen here
od['b'] = 5
od

OrderedDict([('a', 1), ('b', 5), ('c', 3)])

In [5]:
od['b'] = 2

# We can use the method move_to_end() to move a dict entry to the end if True is set
od.move_to_end('a', True)
od

OrderedDict([('b', 2), ('c', 3), ('a', 1)])

In [6]:
# If we set the flag to False, we can move an element to the BEGINNING of the ordered dict
od.move_to_end('c', False)
od

OrderedDict([('c', 3), ('b', 2), ('a', 1)])

In [7]:
# Predictably, two dictionaries with the same key:value pairs in different orders returns true
dict1 = {}
dict1['a'] = 'A'
dict1['b'] = 'B'

dict2 = {}
dict2['b'] = 'B'
dict2['a'] = 'A'

dict1 == dict2

True

In [8]:
# Now, however, the order of the elements matters when we instantiate as an ordered dict
dict1 = OrderedDict()
dict1['a'] = 'A'
dict1['b'] = 'B'

dict2 = OrderedDict()
dict2['b'] = 'B'
dict2['a'] = 'A'

dict1 == dict2

False

In [9]:
# But, we can rearrange one of these to bring these into harmony
dict2.move_to_end('b', True)

dict1 == dict2

True

In [10]:
# Assignment, each letter is a key, and the value is the data frequency
def letter_freq(str1):
    res_dict = {}
    
    for val in str1:
        res_dict[val] = res_dict.get(val, 0) + 1
        
    return res_dict

s1 = 'helloworld'
print(letter_freq(s1))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

### Default Dictionary
- Used when we need a default value for a key which does not exist in the dictionary
- A regular dictionary raises a key error when a key does not exist, but the default dictionary never raises a key error, instead providing a default value

In [11]:
from collections import defaultdict

In [12]:
# Looking at the assignment from above, let's see how a default dict can help up
s1 = 'helloworld'
# The default value depends on the type specified: 
# int - 0
# str - ''
# list - []

letter_count = defaultdict(int) 

for letter in s1:
    letter_count[letter] = letter_count[letter] + 1 

letter_count

defaultdict(int, {'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1})

In [13]:
# A default dictionary can also return a custom default value if we choose

# The function is called if a key does not exist, this is the default being referred to
def default_value():
    return 'Not present'

d = defaultdict(default_value) # Return value of the fn becomes the default value
d['A'] = 'Apple'
d['Z'] = 'Zebra'

print(d['A'])
print(d['Z'])
print(d['X'])

Apple
Zebra
Not present

#### Assignment: Read from a file where each line is a fruit name followed by a count

- apple 2
- pear 4
- cherry 3
- apple 5
- pear 8
- apple 1

Dictionary --> {'apple': [2,5,1], 'pear': [4,8], 'cherry': [3]}

### Named Tuple
- Allows us to access elements by their name rather than index, similar to dictionaries
- Immutable

In [14]:
from collections import namedtuple

In [15]:
Point = namedtuple('Point', 'x y')

p1 = Point(2, 3)

type(p1)

__main__.Point

In [16]:
# So what type is that? Is it the variable, or is it the variable?
Point1 = namedtuple('Point2', 'x y')

p1 = Point1(2, 3)

type(p1)

__main__.Point2

In [17]:
# Now we see, when we create the tupe object, we are using the variable on the left side

In [18]:
p1.x

2

In [19]:
p1[0]

2

In [20]:
p1.y

3

In [21]:
Employee = namedtuple('Employee', ['id', 'name', 'designation'])

e1 = Employee(101, 'John', 'Programmer')
e1

Employee(id=101, name='John', designation='Programmer')

In [22]:
# This is very much like working with objects instead of tuples
print(e1.id)
print(e1.name)
print(e1.designation)

101
John
Programmer

In [23]:
# Named tuple from a list
list1 = [102, 'Sam', 'Accountant']

e2 = Employee._make(list1)

e2

Employee(id=102, name='Sam', designation='Accountant')

In [24]:
# The named tuple essentially acts like a class constructor in a way

In [25]:
# We can now check the fields, which are equivalent to keys in a dict
Employee._fields

('id', 'name', 'designation')

In [26]:
# How can we create and employ this from a dictionary?
dict1 = {'id':202, 'name':'Matt', 'designation':'Manager'}
e3 = Employee._make(dict1.values())
e3

Employee(id=202, name='Matt', designation='Manager')

In [27]:
# Or, you could also pass the dict as kwargs
# How can we create and employ this from a dictionary?
e4 = Employee(**dict1)
e4

Employee(id=202, name='Matt', designation='Manager')

In [28]:
# We can also use the getattr function to try to return values that may not exist without raising errors
getattr(e4, 'age', 'not set')

'not set'

### Counter Class
- Sub-class of dictionary
- Things being counted are keys and counts are values
- There can be negative values

In [29]:
from collections import Counter

print(type(Counter))

<class 'type'>

In [30]:
Counter.__base__

dict

In [34]:
c = Counter('helloworld')
c

Counter({'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1})

In [36]:
for ele in c.elements():
    print(ele)
    
print(c.most_common(2))

h
e
l
l
l
o
o
w
r
d
[('l', 3), ('o', 2)]

In [38]:
for item in c.items():
    print(item[0], item[1])

h 1
e 1
l 3
o 2
w 1
r 1
d 1